.env
__pycache__/
cache/
temp/*.*
ffmpeg/
output/*.*
local_sources/*.*
checkpoint_path/*.*
face_detection/detection/sfd/s3fd.pth
media/*.*

!media/Avatar_Small_Online.mp4
!media/Avatar_generic_man.mp4
!media/Avatar_generic_woman.mp4
!readme.md